:root {
  --brand-color: #212121;
  --selection-color: #2196f3;
  --background-color: #ffffff;
  --navigation-contacts-color: #757575;
  --button-font-color: #ffffff;
  --background-footer-header-color: #2f303a;
}
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
